<!DOCTYPE html>
<html lang="en">

<head>
    <title>New item</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="row">
        <div class="col-xs-6">
            <a href="{{url_for('showCategory')}}"><img src="https://upload.wikimedia.org/wikipedia/en/b/b2/Harley-Davidson.svg" id="logo" alt="logo"></a>
        </div>
        <div class="col-xs-6">
            <div class="header">
                <h1>Harley-Davidson App</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-3">
        </div>
        <div class="col-xs-7">
            <h4>New Menu Item</h4>
            <form action="{{ url_for('newMenuItem', category_name=category_name, category=category)}}" method = 'post'>
	               <p>Name:</p>
		                <input type ='text' size='30' name='name' required>
                 <p>Description:</p>
                    <textarea name = 'description' rows='5' cols='40' required></textarea>
                 <p>Image:</p>
                    <input type = 'text' size = '30' name='image' required>
                 <input type='submit' value='Create'>
                 <a href="{{ url_for('showMenu', category_name=category_name, category=category)}}"> Cancel </a>
            </form>
        </div>
        <div class="col-xs-2">
		          <a href="{{ url_for('showCategory', category=category )}}" class="btn btn-block btn-primary" role="button">Home</a>
              <br>
              <a href="{{url_for('gdisconnect')}}" class="btn btn-block btn-primary" role="button">Logout</a>
        </div>
    </div>
<hr>
</body>
</html>
